---
import Base from '../layouts/Base.astro';
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url=/es/">
  <link rel="canonical" href="/es/">
  <title>Sergio Jurado &middot; Portfolio</title>
  <script type="module">window.location.replace("/es/");</script>
</head>
<body>
  <a href="/es/">Ir al portfolio</a>
</body>
</html>
